# ESP-IDF build
#build/
server_certs/
managed_components/
dependencies/
./settings
build/*
!build/*.bin
!build/*.elf

# Archivos adicionales de build
sdkconfig.old
*.map



# ESP-IDF config
sdkconfig
sdkconfig.old
skdconfig.*


# Logs
*.log
