# ESP-IDF build
#build/
server_certs/
managed_components/
dependencies/
./settings
build/*
!build/*.bin
!build/*.elf

# Archivos adicionales de build
sdkconfig.old
*.map



# ESP-IDF config
sdkconfig
sdkconfig.old
skdconfig.*
sdkconfig.defaults.*
*.py



# Logs
*.log

# Archivos Python y CSV
*.py
*.pyc
*.csv
__pycache__/
